.skillsBlock {
    min-height: 100vh;
    background-color: #97dcdc;
    display: flex;
    align-items: center;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.title {

}

.skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 90px 0;
}

